#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  #nav {
    padding: 30px;
    a {
      font-weight: bold;
      color: #2c3e50;
      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }

  $primary: #41b883;
  $primary-invert: findColorInvert($primary);
  $twitter: #36495d;
  $twitter-invert: findColorInvert($twitter);

  $colors: (
    "white": (
      $white,
      $black
    ),
    "black": (
      $black,
      $white
    ),
    "light": (
      $light,
      $light-invert
    ),
    "dark": (
      $dark,
      $dark-invert
    ),
    "primary": (
      $primary,
      $primary-invert
    ),
    "info": (
      $info,
      $info-invert
    ),
    "success": (
      $success,
      $success-invert
    ),
    "warning": (
      $warning,
      $warning-invert
    ),
    "danger": (
      $danger,
      $danger-invert
    ),
    "twitter": (
      $twitter,
      $twitter-invert
    )
  );

  // Links
  $link: $primary;
  $link-invert: $primary-invert;
  $link-focus-border: $primary;


  h2 {
    font-size: 1.3rem;
  }

.md-bottom-left > div > button > div {
    background-color: white;
}
