[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
python-dotenv = "*"
psycopg2-binary = "*"
coverage = "*"
coveralls = "*"
coreapi = "*"

[requires]
python_version = "3.7"

[scripts]
dev-server = "python manage.py runserver --settings=config.settings.dev"
tests = "python manage.py test --settings=config.settings.test"
tests-coverage = "coverage run manage.py test --settings=config.settings.test"
report = "coverage report"
coveralls = "coveralls"
