[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
flake8 = "*"

[packages]
djangorestframework = "*"
python-dotenv = "*"
psycopg2-binary = "*"
coverage = "*"
coveralls = "*"
coreapi = "*"
django = "==2.2.20"
zappa = "*"
django-s3-storage = "*"
django-cors-headers = "*"
django-filter = "*"
gunicorn = "*"

[requires]
python_version = "3.7"

[scripts]
server = "gunicorn config.wsgi --bind 0.0.0.0:8000"
tests = "python manage.py test"
tests-coverage = "coverage run manage.py test"
report = "coverage report"
coveralls = "coveralls"
migrate = "python manage.py migrate"
upload-static = "python manage.py collectstatic"
deploy-server = "zappa update dev"
