.modal {
    background-color: transparent;
}

.main-container {
    display: grid;
    padding: 2rem;

    grid-template-columns: 100px 1fr;
    grid-gap: 20px;

    @media (max-width: 800px) {
        grid-template-columns: auto;
        padding: 2%;
    }
}